@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Quattrocento+Sans:wght@400;700&family=Raleway:wght@100&family=Roboto:wght@700&display=swap");
/*mobile*/
* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  flex-wrap: wrap;
  padding-top: 30px;
  align-items: center;
}

[claas*=col-] {
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1 {
  flex: 0 0 8.33333%;
  min-width: 8.33333%;
}

.col-xs-2 {
  flex: 0 0 16.66667%;
  min-width: 16.66667%;
}

.col-xs-3 {
  flex: 0 0 25%;
  min-width: 25%;
}

.col-xs-4 {
  flex: 0 0 33.33333%;
  min-width: 33.33333%;
}

.col-xs-5 {
  flex: 0 0 41.66667%;
  min-width: 41.66667%;
}

.col-xs-6 {
  flex: 0 0 50%;
  min-width: 50%;
}

.col-xs-7 {
  flex: 0 0 58.33333%;
  min-width: 58.33333%;
}

.col-xs-8 {
  flex: 0 0 66.66667%;
  min-width: 66.66667%;
}

.col-xs-9 {
  flex: 0 0 75%;
  min-width: 75%;
}

.col-xs-10 {
  flex: 0 0 83.33333%;
  min-width: 83.33333%;
}

.col-xs-11 {
  flex: 0 0 91.66667%;
  min-width: 91.66667%;
}

.col-xs-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

/* Tablet => sm 768px*/
@media (min-width: 768px) {
  .hidden-xs {
    display: none;
  }
  .container {
    min-width: 720px;
  }
  .col-sm-1 {
    flex: 0 0 8.33333%;
    min-width: 8.33333%;
  }
  .col-sm-2 {
    flex: 0 0 16.66667%;
    min-width: 16.66667%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
    min-width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.33333%;
    min-width: 33.33333%;
  }
  .col-sm-5 {
    flex: 0 0 41.66667%;
    min-width: 41.66667%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    min-width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.33333%;
    min-width: 58.33333%;
  }
  .col-sm-8 {
    flex: 0 0 66.66667%;
    min-width: 66.66667%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
    min-width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.33333%;
    min-width: 83.33333%;
  }
  .col-sm-11 {
    flex: 0 0 91.66667%;
    min-width: 91.66667%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* laptop  => md */
@media (min-width: 992px) {
  .container {
    min-width: 960px;
  }
  .col-md-1 {
    flex: 0 0 8.33333%;
    min-width: 8.33333%;
  }
  .col-md-2 {
    flex: 0 0 16.66667%;
    min-width: 16.66667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    min-width: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.33333%;
    min-width: 33.33333%;
  }
  .col-md-5 {
    flex: 0 0 41.66667%;
    min-width: 41.66667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    min-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.33333%;
    min-width: 58.33333%;
  }
  .col-md-8 {
    flex: 0 0 66.66667%;
    min-width: 66.66667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
    min-width: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.33333%;
    min-width: 83.33333%;
  }
  .col-md-11 {
    flex: 0 0 91.66667%;
    min-width: 91.66667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.hidden-xs {
  display: flex;
  justify-content: flex-end;
}

/*  desktop  => lg */
@media (min-width: 1200px) {
  .container {
    min-width: 1170px;
  }
  .col-lg-1 {
    flex: 0 0 8.33333%;
    min-width: 8.33333%;
  }
  .col-lg-2 {
    flex: 0 0 16.66667%;
    min-width: 16.66667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    min-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    min-width: 33.33333%;
  }
  .col-lg-5 {
    flex: 0 0 41.66667%;
    min-width: 41.66667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    min-width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    min-width: 58.33333%;
  }
  .col-lg-8 {
    flex: 0 0 66.66667%;
    min-width: 66.66667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
    min-width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.33333%;
    min-width: 83.33333%;
  }
  .col-lg-11 {
    flex: 0 0 91.66667%;
    min-width: 91.66667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/*  only  mobile < 767px */
@media (max-width: 767px) {
  .hidden-xs {
    display: none;
  }
}
.container {
  background-color: #1d2126;
  color: #a4aead;
  height: 80px;
}

.menu {
  display: flex;
  justify-content: space-between;
  color: #a4aead;
  font-size: 14px;
  text-decoration: none;
  align-items: center;
}

li :hover {
  padding: 5px;
  width: 80px;
  height: 30px;
  border: 2px solid #a4aead;
  border-radius: 3px;
}

a {
  text-decoration: none;
  color: #a4aead;
  cursor: pointer;
  font-size: 14px;
}

.header-form-search {
  margin-left: -10px;
  display: flex;
  align-items: center;
  border: 2px solid #a4aead;
  border-radius: 3px;
  width: 150px;
  color: #a4aead;
  width: 190px;
  height: 30px;
}

.fa-button {
  background-color: #1d2126;
  background-image: url(images/search-glass.png);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 50%;
  margin-left: 10px;
  padding: 5px;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}

::-moz-placeholder {
  background-color: #1d2126;
  border: none;
}

:-ms-input-placeholder {
  background-color: #1d2126;
  border: none;
}

::placeholder {
  background-color: #1d2126;
  border: none;
}

.search {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: medium;
  width: 120px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: #a4aead;
}

.wellcome {
  height: 660px;
  color: #a4aead;
  background-image: url(images/main_1.png);
  background-repeat: no-repeat;
}

h2 {
  padding-top: 220px;
  font-size: 36px;
}

p {
  padding-top: 40px;
  font-size: 16px;
}

button {
  cursor: pointer;
  background-color: #37394b;
  color: #a4aead;
  font-size: 16px;
  width: 120px;
  height: 40px;
  border: #a4aead 2px solid;
  border-radius: 3px;
}
button:hover {
  background-color: #23b7a4;
  border: #23b7a4 2px solid;
}/*# sourceMappingURL=style.css.map */